{% extends 'main/base.html' %}

{% block content %} 

<div class="bg-gray-300 w-1/2 h-3/5 flex items-center justify-center mx-auto mt-16 rounded-lg">
    <div class="text-red-500 mx-8">
        <h4 class="text-lg">* คำแนะนำและข้อควรระวังในการเช่าและปล่อยเช่าอุปกรณ์การเกษตร</h4>
        <p class="mt-4">ก่อนทำการเช่าหรือปล่อยเช่าอุปกรณ์ทุกครั้ง ควรถ่ายบัตรประชาชนของผู้เช่าและผู้ปล่อยเช่า ถ่ายรูปภาพติดใบหน้าพร้อมอุปกรณ์ทั้งผู้เช่าและผู้ปล่อยเช่าเพื่อจะใช้เป็นหลักฐานยืนยันว่าได้ทำการเช่ากันจริง</p>
        <p>เว็ปนี้เป็นเพียงเครื่องมืออำนวยความสะดวกให้เกษตรกรในการแสดงอุปกรณ์สำหรับผู้เช่าและผู้ปล่อยเช่า ไม่มีส่วนได้ส่วนเสีย เรียกเก็บเงินและการเรียกรับผลประโยชน์จากเกษตรกรในการเช่า ดังนั้นทางเราขอไม่รับผิดชอบต่อความเสียหายใดๆที่เกิดขึ้นทุกกรณี</p>
    </div>
</div>
<div class="flex justify-center mt-10">
    <form action="{% url 'location' %}">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">ยอมรับ</button>
    </form>
</div>


{% endblock %} 