<!-- <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Edit</button>
</form> -->

{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="container">
        <label for="exampleInputEmail1" class="form-label mt-5 ms-0 col-12">
            <h3>รายระเอียดอุปกรณ์</h3>
        </label>
        
        <div class="row align-items-center">
            <div class="col">
                <label for="product_location_1" class="col-auto ms-5">ที่อยู่อุปกรณ์:</label>
                <input type="text" id="product_location_1" class="col-2" name="product_location" value="{{ allproduct_instance.product_location }}" class="col form-control">
                <label for="phon_number_1" class="col-1 ms-5">เบอร์โทร:</label>
                <input type="text" id="phon_number_1"  class="col-2" name="phon_number" value="{{ allproduct_instance.phon_number }}" class="col form-control">
            </div>
        </div>
        <label for="exampleInputEmail1" class="form-label ms-0 col-12 mt-3">
            <h3>ที่อยู่ในการคืนอุปกรณ์</h3>
        </label>
        <div class="row align-items-center">
            <label for="product_location_2" class="col-auto ms-5">ที่อยู่อุปกรณ์:</label>
            <input type="text" id="product_location_2"  class="col-2" name="product_location" value="{{ allproduct_instance.product_location }}" class="col form-control">
        </div>
        
        <label for="exampleInputEmail1" class="form-label ms-0 col-12 mt-3">
            <h3>ข้อมูลอุปกรณ์</h3>
        </label>

        <label for="image" class="mb-0 col-1 ms-5 ">ภาพอุปกรณ์:</label>
        <input type="file" id="image" name="image">

        <div class="row align-items-center">
            <label for="product_name" class="mb-0 col-1 ms-5 mt-3">ชื่ออุปกรณ์:</label>
            <input type="text" id="product_name" class="col-2 mt-3" name="product_name" value="{{ allproduct_instance.product_name }}" class="form-control">
        </div>
        
        <div class="row align-items-center">
            <label for="product_statustype" class=" mb-0 col-auto ms-5 mt-3">ประเภทอุปกรณ์:</label>
        <input type="text" id="product_statustype" class="col-2 ms- mt-3" name="product_statustype" value="{{ allproduct_instance.product_statustype }}">
        </div>

        
        <label for="product_status" class="mb-0 col-1 ms-5 mt-3">สถานะอุปกรณ์:</label>
        <select id="product_status" class="mt-3" name="product_status">
            {% for status in status %}
                <option value="{{ status.id }}" {% if allproduct_instance.product_status == status %}selected{% endif %}>{{ status.name_Status }}</option>
            {% endfor %}
        </select><br>
        
        <div class="justify-content-around">
            <label for="product_size" class="mb-0 col-auto ms-5 mt-3">ขนาดอุปกรณ์:</label>
        <input type="text" id="product_size" class="col-2 ms- mt-3" name="product_size" value="{{ allproduct_instance.product_size }}">

        <label for="product_detail" class="mb-0 col-auto ms-5 mt-3">รายระเอียดอุปกรณ์:</label>
        <textarea id="product_detail" class="col-2 ms- mt-3" name="product_detail">{{ allproduct_instance.product_detail }}</textarea>
         
        <div class="row align-items-center">
            <label for="product_price" class="mb-0 col-auto ms-5 mt-3">ราคา:</label>
        <input type="number" id="product_price" class="col-2 ms- mt-3" name="product_price" value="{{ allproduct_instance.product_price }}">
        </div> 
        
        
         
        
    </div>
    
        <button type="submit" class=" mb-0 col-auto ms-5 mt-3 btn btn-primary">ยืนยันปล่อยเช่า</button> 
    
    
</form>



{% endblock %}