{% extends 'main/base.html' %}

{% block content %} 

<div class="bg-gray-300 w-1/2 h-3/5 flex flex-col items-center justify-center mx-auto mt-16">
    <div class="flex justify-center mt-4">
        <label for="location" class="mr-4">สถานที่ใช้งาน:</label>
        <form action="{% url 'search' %}" method="get">
            <input type="search" name="search" class="border rounded px-2 py-1">
        </form>
    </div>
    <div class="flex justify-center mt-4">
        <label for="time" class="mr-4">วันที่ใช้งาน:</label>
        <input type="date" id="time" name="time" class="border rounded px-2 py-1">
    </div>
    <div class="flex justify-center mt-16">
        <form action="{% url 'show_product' %}">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">ค้นหา</button>
        </form>
    </div>
</div>





{% endblock %} 