{% extends 'main/home.html' %}

{% block content %} 

<style>
       *{
    margin: 0;
    padding: 0;
}

.content{
    padding: 10px;
}

</style>
{% for i in sell %}
<div class="content">
    <div class="name">
        <h3>รายละเอียดอุปกรณ์</h3>
    </div>
    <div class="user">
        <p>{{ user.username }}</p>
    </div>  
    <div class="location">
        <h3>ที่อยู่ในการคืนอุปกรณ์</h3>
    </div>  
    <div class="detall">
        <h3>ข้อมูลอุปกรณ์</h3>
    </div>
</div>
{% endfor %}

{% endblock %} 