{% extends 'main/home.html' %}


{% block content %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .menusearch {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .searchfield {
        width: 500px;
        height: 30px;
    }

    .content_type {
        width: 200px;
        height: 600px;
        overflow: hidden;
        background-color: D9D9D9;
        display: flex;
        justify-content: center;



    }

    h4 {
        margin-top: 1rem;
    }

    .shop_product {

        width: 220px;
        height: 200px;
        background-color: D9D9D9;
        padding: 10px;
        margin: 0 1rem;



    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 1rem;

    }

    a {
        text-decoration: none;
    }

    .content {
        width: 100%;
        height: 78%;


    }

    .sell_product {

        margin-left: 80rem;
        margin-top: -3rem;

    }

    .sell_product,
    button {
        width: 110px;
        height: 40px;
        background-color: 075650;
        color: white;
    }

    p {
        font-size: small;
    }

    .detall {
        padding: 2rem 0;
    }
</style>


<div class="content">
    <div class="search_basket">
        <div class='menusearch'>
            <form action='/search' class='searchform' method='get'>
                <input class='searchfield' id='q' name='q'
                    onblur='if(this.value==&apos;&apos;)this.value=this.defaultValue;'
                    onfocus='if(this.value==this.defaultValue)this.value=&apos;&apos;' type='text'
                    value='ค้นหาอุปกรณ์' />
                <input class='searchbutton'
                    src='https://1.bp.blogspot.com/-N_4TWVUmXv4/UDdKJf5NwCI/AAAAAAAAIgY/AGrKXgwkrTo/s1600/tombolcari.gif'
                    style='cursor:pointer;vertical-align:top' type='image' value='Go' />

                <div class="basket">
                    
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="content_type">
            <h4>ค้นหาตามหมวดหมู่</h4>
        </div>


        {% for i in allproduct %}

        <div class="shop_product">


            <div class="img">
                <img class="image{% if forloop.first %} active{% endif %}" src="{{ image.image.url }}" alt=" Image">
            </div>

            <div class="detall">
                {% if i.id %}
                <h3>ชื่อ: <a href="{% url 'Showdetall_product' i.id %}">{{ i.product_name }} </a></h3>
                {% else %}
                <p>ชื่อ: No ID available for this product</p>
                {% endif %}
                <p>ราคา: {{i.product_price}} </p>
                <p>สถานะอุปกรณ์: {{i.product_statustype}}</p>

            </div>


        </div>
        {% endfor %}
    </div>
    <div class="sell_product">
        <form action="{% url 'sell_product' %}">
            <button type="submit">ปล่อยเช่าอุปกรณ์</button>
        </form>
    </div>
</div>
{% endblock %}