{% extends 'main/base.html' %}


{% block content %}
<div class="container mx-auto mt-auto">

    <h3 class="text-3xl font-semibold mb-4 ms-5 mt-5">แสดงรายละเอียดอุปกรณ์</h3>

    
    <div class="flex flex-wrap items-start border border-gray-300 rounded-lg p-4 mb-4">

        <div class="w-1/4 pr-10">
            <img class="w-50 h-50 " src="{{ product.image.url }}" alt="Image">
        </div>

        <div class="w-4/4">
            <div class="mb-4">
                <h3 class="text-lg font-semibold">ชื่อ: {{ product.product_name }}</h3>
                <p>ขนาดอุปกรณ์: {{ product.product_size }}</p>
                <p>รายละเอียดอุปกรณ์: {{ product.product_detail }}</p>
            </div>

            <div class="mb-4">
                <h3 class="text-lg font-semibold">ที่อยู่อุปกรณ์</h3>
                <p>{{ product.product_location }} เบอร์: {{ product.phon_number }}</p>
            </div>

            <div class="mb-4">
                <p>สถานะอุปกรณ์: {{ product.product_status }}</p>
            </div>

            <div class="mb-4">
                <p>วันที่ต้องการปล่อยเช่า: {{ product.datetime }}</p>
            </div>

            <div class="mb-4">
                <p>สิ้นสุดวันปล่อยเช่า: {{ product.lastdate }}</p>
            </div>

            <div>
                <p class="text-lg font-semibold">ราคา: {{ product.product_price }} บาท</p>
            </div>
        </div>

    </div>
   

    <div class="flex justify-between mt-8 mx-20">
        <a href="{% url 'add_sell_buy' product.id %}">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">เช่าอุปกรณ์</button>
        </a>
        <form action="{% url 'add_to_cart' product.id  %}" class="mr-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">เพิ่มลงตะกร้า</button>
        </form>
        
    </div>
</div>

{% endblock %}