<aside class="relative bg-green-500 h-screen w-64 hidden sm:block shadow-xl">
  <div class="p-6">
    <a class="text-white text-3xl font-semibold uppercase hover:text-gray-300">
      <i class="fa-solid fa-wheat-awn"></i>Farmer Support</a>


    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158"
          height="48">
      </div>
    </div>

  </div>

  <nav class="text-white font-semibold pt-3">

    <a href="{% url 'advice' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
      <i class="fas fa-tachometer-alt mr-3"></i>
      เช่าอุปกรณ์
    </a>

    <a href="{% url 'index' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
      <i class="fas fa-align-left mr-3"></i>
      ทำนายพืช
    </a>


  </nav>

</aside>